<main id="container">
  <header class="title">
    <h1>Diagnostissimo Monitor</h1>
  </header>
  <div id="jobs">
    <h3 *ngIf="questionnaires.count() === 0">pas de questionnaires</h3>
    <table>
      <tr *ngFor="let item of questionnaires">
        <td>
          <div class="logtext">
            <img src="./assets/success.svg" width="40px" height="40px" alt="success" />
          </div>
          <div class="questionnaire_detail">
            {{ item.date_saisie }} : questionnaires saisi par             
            {{ item.nom_du_medecin }}
            <br>
            toxicité :  {{ item.toxicité }}
          </div>
        </td>
       

      </tr>
    </table>
  </div>
</main>
